.sfondo{
    background-image: url('/img/inserisci/sfondone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   height: 100%;
    background-position: 50% 50%;

}

#formFile{
    width: 20rem;
}