.sfondo{
    background-image: url('/img/inserisci/sfondone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: 50% 50%;

}