@import
	url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap')
	;

@font-face {
	font-family: "Cunia";
	src: url(/fonts/Cunia.otf);
}

body {
	font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Cunia";
}

.spingi-footer {
	min-height: calc(100vh - 175px);
	z-index: 2;
}

.btn-primary {
	background-color: #59C567;
	border-color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	/*sovrascrivo i colori dei pulsanti  al passaggio del mouse*/
	background-color: black;
}

.dropdown-menu {
	background-color: #212529;
}

.dropdown-item:active, .dropdown-item:focus {
	background-color: black;
}

.dropdown-item {
	color: #59C567;
}

#header {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: white;
}

.text-green {
	color: #59C567;
}

#mainFooter {
	background: #212529;
	padding: 0.5rem 0;
	color: white;
}

.cta {
	color: #efefef;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px black;
}

.nav-link {
	color: #59C567;
}

.nav-link dropdown-toggle {
	color: #59C567;
}

.nav-link:hover {
	color: white;
}

.nav-link:focus {
	color: white;
}

#hamburger {
	width: 60%;
}

@media ( max-width : 991.98px) {
	.nav-item{
		margin-right: auto!important;
		margin-left: auto!important;
	}
	
	.nav-link{
		text-align: center;
		margin-right: auto!important;
		margin-left: auto!important;
	}
	
	#navbar-dropdown-categories li{
		margin-right: auto!important;
		margin-left: auto!important;
	}
	
	#navbar-dropdown-categories .dropdown-item {
		text-align: center;
	}
	
	.offcanvas-collapse {
		position: fixed;
		top: 90px; /* Height of navbar */
		bottom: 0;
		left: 100%;
		width: 100%;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		visibility: hidden;
		background-color: #212529;
		transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	}
	.offcanvas-collapse.open {
		visibility: visible;
		transform: translateX(-100%);
		z-index: 99;
	}
}

.cta2 .btn-primary {
	position: absolute;
	bottom: 20px;
	right: 20px;
	background-color: #212529;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
}

footer{
	z-index: 1000;
}