#dati_veicolo{
    color: black;
    min-height: calc(100vh - 90px);
    width: 100%;
    position: relative;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 3rem;
}

.map-container{
    margin-bottom: 5rem;
}

#map {
 height: 180px; 
}

.offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);

    z-index:99;
}

.descrizione_veicolo{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #212529;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.titolo_veicolo{
    text-shadow: 000 0rem 1rem rgb(138 139 138);
}