<div class="modal fade" tabindex="-1" id="elimPren">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">Sei sicuro di voler eliminare questa prenotazione?</h5>

        </div>
        <div class="modal-body">
          <p>Una volta eliminata la prenotazione non potrai pi&#249; recuperarne i dati.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annulla</button>
          <button type="button" class="btn btn-danger" id="btn_confirmed_delete">Elimina</button>
        </div>
      </div>
    </div>
  </div>