<div class="modal fade" tabindex="-1" id="elimVeic">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-danger text-white">
				<h5 class="modal-title">Sei sicuro di voler eliminare questo
					veicolo?</h5>

			</div>
			<div class="modal-body">
				<p>Una volta eliminato il veicolo non potrai pi&uacute recuperarne i
					dati.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Annulla</button>
				<button id="btn_confirmed_delete" type="button" class="btn btn-danger">Elimina</button>
			</div>
		</div>
	</div>
</div>