<div class="modal fade" tabindex="-1" id="modVeic"
	data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header bg-warning">
				<h5 class="modal-title">Modifica veicolo</h5>

			</div>
			<div class="modal-body">
				<p>Modal body text goes here.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Annulla</button>
				<button type="button" class="btn btn-primary">Salva
					modifiche</button>
			</div>
		</div>
	</div>
</div>
