.btn-primary {
    background-color: #59C567;
    border-color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    /*sovrascrivo i colori dei pulsanti  al passaggio del mouse*/
    background-color: black;
}

#hero{
    width: 100%;
    height:auto; 
    background: url();

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#header{
    font-family: 'Gugi', cursive;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #2B2D42;
}

#mainFooter {
    background: #59C567;
    color:white;
    font-family: 'Quando', serif;
}

.nav-link{
    color: #59C567;
}

.nav-link dropdown-toggle{
    color: #59C567;
}

.nav-link:hover{
    color: black;
}

.nav-link:focus{
    color: black;
  
}


.swiper {
    padding-bottom: 3rem;
  }
  
  .swiper-slide img {
      width: 100%;
      height:auto;
  }
  
  .swiper-button-next, .swiper-button-prev {
      width:1rem;
      height:1rem;
  }










@media (max-width: 991.98px) {
    .offcanvas-collapse {
      position: fixed;
      top: 56px; /* Height of navbar */
      bottom: 0;
      left: 100%;
      width: 100%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: #2B2D42;
      transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
      visibility: visible;
      transform: translateX(-100%);

      z-index:99;
    }
  }

