<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    
    <!--INIZIO DEL FAVICON-->
<link th:replace="fragments/favicons.html">

    <!--IMPORT DI BOOTSTRAP-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!--IMPORT DEI FONT-->
  <link th:replace="fragments/fonts.html">

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/errore.css">

</head>
<body>
    
  <!--IL COLLEGAMENTO ALLA HOME PAGE è DA FARE CON IL JS-->
  <div id="errore">
    <div class="cta">
      <div class="content">
        <h1 id="madornale"> ERROR 404 </h1>
        <p id="scritta"> Siamo spiacenti, lavori in corso. <br> Si prega di fare inversione a U e tornare nella home page. Scusate il disagio.</p>
        <button type="button" class="btn btn-primary ms-2" id="logout"><a class="link-button" href="/index" ><i class="bi bi-cone-striped"></i>
          Torna alla home
          </a>
        </button>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous">
  </script>

    <script>
      //gestione off-canvas
      <script src="/js/common/navbar_canvas.js"></script> 

</body>
</html>