<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AutoIo</title>

<!--INIZIO DEL FAVICON-->
<link th:replace="fragments/favicons.html">

<!--IMPORT DI BOOTSTRAP-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<!--IMPORT DEI FONT-->
<link th:replace="fragments/fonts.html">



<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/veicolo.css">

<link rel="stylesheet"
	href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin="" />

</head>

<body>
	<!--INIZIO DELLA NAVBAR-->
	<div id="header" th:insert="fragments/navbar.html"></div>

	<!--LOGIN MODAL-->
	<div th:replace="fragments/login-modal.html"></div>

	<div class="bg"></div>

	<div class="container page-container spingi-footer">

		<h1 class="titolo_veicolo"
			th:text="|${veicolo.marca} ${veicolo.modello}|"></h1>

		<div class="row">
			<div class="col-lg-6 mb-6">
				<!--MAP & Img-->
				<div class="carousel-image">
					<img th:src="${veicolo.immagine}" alt="immagine veicolo">
				</div>
			</div>

			<div class="col-lg-6 mb-6 d-flex flex-column justify-content-between">
				<!--FORM-->
				<div>
					<h2 class="text-center"
						th:text="|${veicolo.marca} ${veicolo.modello} [#${veicolo.id}]|"></h2>
					<br>
					<h6 class="text-end">descrizione</h6>
					<hr>
					<div class="p-lg-4">
						<div class="d-flex justify-content-between">
							<h6>categoria:</h6>
							<p th:text="${veicolo.categoria.nome}"></p>
						</div>
						<div class="d-flex justify-content-between">
							<h6>alimentazione:</h6>
							<p th:text="${veicolo.alimentazione.nome}"></p>
						</div>
						<br>
						<p th:text="${veicolo.descrizione}"></p>
					</div>
				</div>
				<div>
					<h6 class="text-end">indirizzo</h6>
					<hr>
					<h3 class="text-center" th:text="${veicolo.indirizzo}"></h3>
				</div>
			</div>
		</div>

		<div id="btn_prenota" class="row" th:if="${session.utente==null && veicolo.disponibile}">
			<h2 class="titolo_veicolo">PRENOTA</h2>
		</div>

		<!-- FORM PRENOTAZIONE -->
		<div id="prenotazione" class="row" th:if="${session.utente!=null && veicolo.disponibile}">
			<h2 class="titolo_veicolo">PRENOTA</h2>
			<hr>
			<div id="user-info" class="col-lg-6 mb-6">
				<!-- INFO UTENTE -->

				<div class="d-flex h-100 flex-column justify-content-around">

					<h5>info utente</h5>

					<div>
						<div class="d-flex justify-content-between">
							<h6>name:</h6>
							<h6 th:text="${session.utente.nome}"></h6>
						</div>
						<div class="d-flex justify-content-between">
							<h6>surname:</h6>
							<h6 th:text="${session.utente.cognome}"></h6>
						</div>
						<div class="d-flex justify-content-between">
							<h6>email:</h6>
							<h6 th:text="${session.utente.email}"></h6>
						</div>


					</div>
					<p>Credenziali che verranno usate per effettuare la
						prenotazione</p>
				</div>
			</div>
			<div class="col-lg-6 mb-6">
				<form action="#" th:action="@{/prenotazione/add}" method="post">

					<input type="hidden" name="vId" th:value="*{veicolo.id}"> <label
						class="form-label" for="inizio_id">Data e ora inizio
						noleggio:</label><br> <input type="datetime-local" id="inizio_id"
						class="form-control" name="inizio" required th:value="*{inizio}">
					<label class="form-label" for="fine_id">Data e ora fine
						noleggio:</label><br> <input type="datetime-local" id="fine_id"
						class="form-control" name="fine" required th:value="*{fine}">
					<hr>
					<button type="submit" class="btn btn-primary float-end" id="dati">
						PRENOTA</button>

				</form>
			</div>

		</div>

		<div class="row">

			<div class="col-lg-6">
				<div id="map"></div>
			</div>
			<div class="col-lg-6 d-flex align-items-center">
				<p>Con la gamma veicoli Auto.io, potrai avere tutti i vantaggi
					del noleggio a lungo termine in un veicolo nuovo e rispettoso
					dell'ambiente. Assicurazione, manutenzione e bollo non saranno più
					un problema e potrai guidare senza pensieri e a consumi ridotti.
					Tutti i veicoli proposti sono nuovi e potrai scegliere come
					configurare i tuoi mezzi, adattandoli alle tue esigenze di guida.</p>
			</div>
		</div>
	</div>


	<input type="hidden" id="input_x_cord"
		th:value="${veicolo.coordinataX}">
	<input type="hidden" id="input_y_cord"
		th:value="${veicolo.coordinataY}">

	<!--FOOTER-->
	<footer id="mainFooter" th:insert="fragments/footer.html"></footer>

	<!--Gestione off-canvas navbar quando piccolo-->
	<script src="/js/common/navbar_canvas.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
		integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
		crossorigin=""></script>

	<script src="/js/vehicle/script.js"></script>

</body>

</html>