<div class="container">
	<div class="row d-flex align-items-center">
		<div class="col-lg-4 text-center text-lg-start mb-3 mb-lg-0">
			<!-- classi per: colonna | allineamento testo su small e large, margine su small e large -->
			Vicolo Corto 12<br> 10100 Barletta<br> ITALY
		</div>
		<div class="col-lg-4 text-center mb-3 mb-lg-0 text-green">
			<i class="fab fa-facebook"></i> <i class="fab fa-instagram"> </i> <i
				class="fab fa-twitter"></i>
		</div>
		<div class="col-lg-4 text-center text-lg-end">©JAITA52 2022</div>
	</div>
</div>