<div class="container" id="ambiente">
  <h2 class= "titolino mb-4">Veicoli a confronto</h2>
  <div class="row"> 
    <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start mb-4 order-lg-2">
      <p>Con la gamma veicoli Auto.io, potrai avere tutti i vantaggi del noleggio a lungo termine in un veicolo nuovo e rispettoso dell'ambiente.
        Assicurazione, manutenzione e bollo non saranno pi&uacute un problema e potrai guidare senza pensieri e a consumi ridotti.
        Tutti i veicoli proposti sono nuovi e potrai scegliere come configurare i tuoi mezzi, adattandoli alle tue esigenze di guida.</p>
    </div>
    <div class="col-lg-6 mb-4 order-lg-1"> 
      <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>

<!-- IMPORT JS PER CHART -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- INITIALIZATION OF CHART.JS -->
<script src="/js/index/chart_init.js"></script>